<form method="post">
    <div class="container">
        <div class="titleClass">
            {{titleFindPassword}}
        </div>
        <div>
            <label for="email"><b class="bClass">Email</b></label>
            <input type="text" [formControl]="email">
        </div>
        <button type="button" (click)="doFindPassword()">重製</button>
    </div>
</form>
<div class="ButtonClass">
    <div class="registerClass"><button type="button" routerLink='/input'>登入</button></div>
    <div class="RetrievePasswordClass"><button type="button" routerLink='/register'>註冊</button></div>
</div>