<!--如果登入狀態為true, 帶入參數-->

<body *ngIf="LoginStatus">

    <mat-toolbar color="warn" class="header-toolbar">

        <button class='leftMenuClass mat-iconClass' type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav(drawer)">
      <mat-icon class="mat-iconClass" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

        <span class="toolbar-seprator"></span>

        <a class="aClass"><span>{{programName}}</span></a>
        <button class="rightButtonClass mat-iconClass" mat-icon-button (click)="toggleSideNav(drawerRight)">
      <!--右邊選單按鈕-->
      <!-- <mat-icon class="mat-iconClass">face</mat-icon> -->
      <img class="imgClass" height="30px" width="30px" src={{impData}}>
    </button>

        <button class="mat-iconClass" mat-icon-button (click)="toSignOut()">
      <mat-icon class="mat-iconClass">logout</mat-icon>
    </button>

    </mat-toolbar>
    <mat-sidenav-container class="mat-sidenav-containerClass" fixedInViewport="true">
        <mat-sidenav class="mat-sidenavClass" #drawer position="start" mode="side" class="sidenav" opened>

            <mat-nav-list class="mat-nav-listClass">
                <div><a class="aFontClass" mat-list-item routerLink="/memberProfile">選單一</a></div>
                <div><a class="aFontClass" mat-list-item routerLink="/memberProfile">選單二</a></div>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- <mat-sidenav-container fixedInViewport="true"> -->
    <mat-sidenav #drawerRight position="end" mode="side" class="sidenavRight">

        <!-- <mat-list class="mat-listClass"> -->
        <div class="vipDataList">
            <div class="l-sub-section vipHead">
                <div class="memberData">
                    <img class="imgClass" height="80px" width="80px" src={{impData}}>
                </div>
            </div>

            <!-- <mat-list class="mat-listClass"> -->
            <div class="spaceClass"></div>
            <div class="l-sub-section">
                <div class="mat-iconClass mat-iconC">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="noClass">{{programName}}</div>
            </div>

            <div class="l-sub-section">
                <div class="mat-iconClass mat-iconC">
                    <mat-icon>forward_to_inbox</mat-icon>
                </div>
                <div class="noClass">{{email}}</div>
            </div>
        </div>
        <!-- </mat-list> -->

    </mat-sidenav>
    <!-- </mat-sidenav-container> -->

</body>